/* open-sans-300 - greek-ext_cyrillic_vietnamese_latin-ext_latin_greek_cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans-v13-greek-ext_cyrillic_vietnamese_latin-ext_latin_greek_cyrillic-ext-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* open-sans-regular - greek-ext_cyrillic_vietnamese_latin-ext_latin_greek_cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/open-sans-v13-greek-ext_cyrillic_vietnamese_latin-ext_latin_greek_cyrillic-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* open-sans-italic - greek-ext_cyrillic_vietnamese_latin-ext_latin_greek_cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../fonts/open-sans-v13-greek-ext_cyrillic_vietnamese_latin-ext_latin_greek_cyrillic-ext-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* open-sans-600 - greek-ext_cyrillic_vietnamese_latin-ext_latin_greek_cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
       url('../fonts/open-sans-v13-greek-ext_cyrillic_vietnamese_latin-ext_latin_greek_cyrillic-ext-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* open-sans-700 - greek-ext_cyrillic_vietnamese_latin-ext_latin_greek_cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v13-greek-ext_cyrillic_vietnamese_latin-ext_latin_greek_cyrillic-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}








html {font-size:100%;overflow-y:scroll}


header, footer, .container { max-width: 45em; margin: 0 auto; }
header { padding: 0 0.5em; color: #C90B0B; }
header img { float: left; }
header p { font-size:1.5em; font-weight: bold; padding-left: 4.5em;}
header p span { font-size: 0.8em; font-weight: normal;}



body { margin: 0; font-size: 12px; line-height: 1.61; font-weight: 400; }
body, button, input, select, textarea { font-family: 'Open Sans', sans-serif; color: #333; }

a { color: #12C; }
a:visited { color: #61C; }
a:focus { outline: thin dotted; }
a:hover, a:active { color: #c00; outline: 0; }

b, strong { font-weight: bold; }
ul, ol { margin: 1em 0; padding: 0 0 0 20px; }
img { border: 0; max-width: 100%; }

body { background: #fff; }


.hero { padding: 2em; background-color: #f8f8f8; font-size:1.2em;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.content { padding: 1em 1em; }
.content li { list-style-type: none; font-size: 1.1em;}
li img { float:left; padding-right: 1em; }
li p { font-size: 0.9em; font-style: italic; }

footer {
  padding: 0 0.5em;
  border-top: 1px solid #ccc;
}
footer span { float: right; font-style: italic; }